@include mediaSm {
    div.menu-branding,
    ul.menu-nav {
        float: none;
        width: 100%;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
        .nav-link {
            font-size: 20px;
        }

    }
    .menu-branding {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);
        .portrait {
            width: 100px;
            height: 100px;
            background: $small-menu-image;
            background-size: cover;
        }
    }

    main {
        text-align: center;
        align-items: center;
        h1, h2, h3 {
            margin: 0;
            font-weight: 450;
            &.lg-heading{
                font-size: 1rem;
            }
            &.sm-heading{
                font-size: 0.3rem;
                
            }
        }
    }

}
@include mediaMd {
    main {
        text-align: center;
        align-items: center;
        h1, h2, h3 {
            margin: 0;
            font-weight: 450;
            &.lg-heading{
                font-size: 3rem;
            }
            &.sm-heading{
                font-size: 1.5rem;
                
            }
        }
    }

    .menu-nav {
        .nav-link {
            font-size: 20px;
        }

    }

    .menu-branding {
        .portrait {
            width: 170px;
            height: 170px;
            background-size: cover;
        }
    }
    main#home h1 {
        margin-top: 10vh;
    }
}
@include mediaLg {

}
@include mediaXl {

}